h2{
    margin: 0;
}

button:hover {
    background-color: #929292;
}

.hidden {
    display: none;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}