.message {
    margin: 10px;
    width: fit-content;
}

.message__user {
    margin-left: auto;
    color: white;
    text-align: right !important;
}

.message__userCard {
    background-color: #0b81ff !important;
}

.message__guestCard {
    background-color: #e9e9eb !important;
}

.MuiTypography-h5 {
    font-size: 20px !important;
}

.message__card{
    border-radius: 25px;
}

.message__wrapper {
    padding: 10px !important;
}

.app__messageBox> div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}